{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<script>
    const stories = {{ stories | tojson }};
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/create.js') }}"></script>
<div class="home-container">
    <h1>The Hero's Journey!</h1>
    <img src="{{ url_for('static', filename='img/hero-journey-graphic.png') }}" alt="The Hero's Journey Graphic" class="hero-img">
    <p>Discover the path every hero takes — from the ordinary world to legendary transformation.</p>
    
    <div class="button-group">
        <a class="btn" href="{{ url_for('learn') }}">Learn</a>
        <a class="btn" href="{{ url_for('quiz') }}">Quiz</a>
        <a class="btn" href="{{ url_for('create') }}">Story</a>
    </div>
    <br>
    <div class="quiz-container">
        <h1>See all stories here.</h1>
        <div id="story_container" class="quiz-container"></div>
    </div>
</div>
{% endblock %}