{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
{% endblock %}

{% block content %}
<div class="quiz-container">
    <h1>Test Your Knowledge of the Hero's Journey</h1>
    
    <div class="quiz-intro">
        <p>This quiz will test your understanding of the different stages in the Hero's Journey.</p>
        <p>There are 12 questions covering various stages of the journey. Try to answer them all correctly!</p>
        
        <div class="quiz-instructions">
            <h2>Instructions:</h2>
            <ul>
                <li>Read each question carefully</li>
                <li>Select the best answer from the options provided</li>
                <li>After answering, you'll see if you were correct</li>
                <li>At the end, you'll get your total score</li>
            </ul>
        </div>

        <a href="{{ url_for('quiz_question', question_num=1) }}" class="start-button">
            Start Quiz
        </a>
    </div>
</div>
{% endblock %} 
